@import "variables";
@import "mixins";

* {
    margin: 0;
}

body > svg {
    width: 0;
    height: 0;
    position: fixed;
}

.main-container {
    a {
        text-decoration: none;
    }

    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;

        .header-title {
            font-family: "Shrikhand";
            font-size: 30px;
            font-weight: 400;
            color: #000;
        }
    }

    .search-location {
        background-color: #eaeaea;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: auto;
        gap: 17px;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            width: 100%;
            height: 10px;
            background-image: linear-gradient(to bottom, rgba(126, 126, 126, 0.6) 0%, transparent 100%);

            @media (min-width: $breakPointL) {
                display: none;
            }
        }

        .icon-marker {
            display: flex;
            align-items: center;
            padding-left: 60px;
        }

        input {
            background-color: #eaeaea;
            border: none;
            font-size: 16px;
            font-family: "Roboto";
            font-weight: 500;
        }
    }

    .second-conteiner {
        .first {
            background: #f6f6f6;
            display: flex;
            flex-direction: column;
            width: auto;
            text-align: center;
            align-items: center;
            gap: 30px;
            padding-bottom: 60px;

            .main-title {
                display: grid;
                gap: 15px;

                h1 {
                    font-size: 24px;
                    font-family: "Roboto";
                    font-weight: 700;
                    padding: 40px 58px 0 42px;

                    @media (min-width: $breakPointL) {
                        font-size: 40px;
                    }
                }

                .light {
                    font-family: "Roboto";
                    font-weight: 300;
                    font-size: 18px;
                }
            }

            .link-search {
                @include mixin-text16px;
                color: white;
                padding: 13px 19px;
                background: linear-gradient(#ff79da, #9356dc);
                border: none;
                box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
                border-radius: 30px;
                height: 24px;
                width: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s ease-in-out;
                box-sizing: content-box;

                &:hover {
                    filter: brightness(1.1);
                    background: linear-gradient(#ff79da, #9356dc) rgba(255, 255, 255, 0.15);
                    box-shadow:
                        rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
                        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
                }
            }
        }

        .second {
            @include mixin-grid-mobile;
            padding-bottom: 80px;

            h2 {
                @include mixin-h2;

                @media (min-width: $breakPointL) {
                    padding: 40px 0 20px 0;
                }
            }

            @media (min-width: $breakPointL) {
                .fonctioning {
                    display: grid;
                    justify-content: center;
                }
            }

            .list-link {
                display: grid;
                justify-items: center;
                align-items: center;
                gap: 20px;
                list-style-type: none;
                padding: 0;
                counter-reset: item;

                @media (min-width: $breakPointL) {
                    display: flex;
                    justify-content: center;
                    gap: 25px;
                }

                li {
                    position: relative;

                    &::before {
                        content: counter(item);
                        counter-increment: item;
                        position: absolute;
                        left: -12px;
                        bottom: 24px;
                        width: 24px;
                        height: 24px;
                        font-size: 18px;
                        font-weight: 500;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        background-color: $main-color;
                        border-radius: 50%;
                    }

                    .fonctioning-link {
                        @include mixin-text16px;
                        color: #000;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        background: #f6f6f6;
                        border: none;
                        height: 72px;
                        width: 86vw;
                        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

                        @media (min-width: $breakPointL) {
                            width: 305px;
                        }

                        .fas {
                            color: #7e7e7e;
                            position: absolute;
                            left: 37px;
                        }

                        .fa-mobile-alt:before {
                            width: 13px;
                            height: 20px;
                        }

                        .fa-list-dots:before {
                            width: 16px;
                            height: 16px;
                        }

                        .fa-store:before {
                            color: $main-color;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }

        .third {
            @include mixin-grid-mobile;
            background: #f6f6f6;
            padding: 0 20px 70px;

            @media (min-width: $breakPointL) {
                #restaurants {
                    display: grid;
                    justify-content: center;
                }
            }

            h2 {
                @include mixin-h2;
                padding-left: 0;
            }

            img {
                object-fit: cover;
            }

            .cards {
                display: grid;
                gap: 20px;
                width: 100%;

                @media (min-width: $breakPointL) {
                    grid-template-columns: 1fr 1fr;
                    row-gap: 50px;
                }

                .card {
                    background-color: #ffffff;
                    height: 251px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    border-radius: 15px;
                    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);

                    @media (min-width: $breakPointL) {
                        width: 473px;
                    }

                    img {
                        width: 100%;
                        height: 170px;
                        border-radius: 15px 15px 0 0;
                    }

                    .card-new {
                        background-color: $third-color;
                        color: #008766;
                        border-radius: 2px;
                        height: 15px;
                        width: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        font-size: 14px;
                        font-family: "Roboto";
                        font-weight: 400;
                        padding: 7px 10px;
                    }

                    h3 {
                        @include mixin-h3;
                    }

                    .card-span-text {
                        color: #000;
                        padding-left: 17px;
                        padding-bottom: 10px;
                        font-family: "Roboto";
                        font-size: 17px;
                        font-weight: 300;
                    }

                    .heart-icons {
                        svg {
                            stroke: #000;
                            stroke-width: 1px;
                            fill: #fff;
                            transition: all 0.3s;
                            position: absolute;
                            width: 22px;
                            height: 22px;
                            bottom: 31px;
                            right: 22px;
                            cursor: pointer;
                        }

                        &:hover {
                            svg {
                                fill: url(#heart-gradient);
                                stroke: url(#heart-gradient);
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        /* Mailto */
        background-color: #353535;
        padding: 22px 25px;

        .footer-content {
            @include mixin-grid-mobile;
            gap: 15px;

            @media (min-width: $breakPointM) {
                display: flex;
                flex-direction: row-reverse;
                gap: 80px;
            }

            h2 {
                font-family: "Shrikhand";
                font-size: 15px;
                font-weight: 400;
                padding: 0;
                color: white;
            }

            ul {
                display: grid;
                gap: 7px;
                list-style: none;
                padding-inline-start: 0;

                @media (min-width: $breakPointM) {
                    display: flex;
                    gap: 15px;
                }

                a {
                    color: white;
                    gap: 11px;
                }
            }
        }
    }
}
